body {
    background-color: rgb(224, 223, 223);
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    position: relative;
    background-color: #3c5a99;
    width: 850px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}
#button {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
/* .interact {
    position: relative;
    top: -45px;
    left: 600px;
    font-family: sans-serif;
    font-size: 10px;
    border: none;
    color: #3c5a99;
} */
/* #follow {
    margin: 0px;
    padding: 5px;
}
#message {
    margin: 0px;

}
#dots {
    margin: 0px;
    padding: 5px 20px;
} */
h2 {
    position: relative;
    top: 15px;
    left: 200px;
    color: white;
    font-family: sans-serif;
    font-weight: 525; 
}
h3 {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 550;
}
h4 {
    position: relative;
    left: 200px;
    color: white;
    font-family: sans-serif;
    font-weight: 350;
}
nav {
    position: relative;
    height: 50px;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
.navButton{
    border-top: none;
    border-bottom: none;
    border-left: none;
    margin: 15px 2.5px;
    text-align: center;
    font-size: 15px;
}
button:hover {
    text-decoration: underline #3c5a99;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
#pfp {
    position: relative;
    top: 125px;
    left: 25px;
    border-width: thin;
    border-style: solid;
    border-color: black;
    background-color: #3c5a99;
    height: 150px;
    width: 150px;
    z-index: 1;
    }
#timeline {
    margin-left: 200px;
}
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #ddd}
  
  .show {
      display:block;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 850px;
}
.column {
    margin-top: 10px;
    background-color: white;
    border-width: 1px;
    border-color: rgb(207, 207, 207);
    border-style: solid;
    text-align: left;
}
#left {
    height: 175px;
    width: 328px;
    margin-bottom: 225px;
}
.left-content {
    margin-left: 15px;
    margin-right: 25px;
}
#right {
    height: 200px;
    width: 512px;
    margin-bottom: 200px;
}
.right-content {
    margin-left: 15px;
}
#post-name {
    margin-bottom: 5px;
}
.post-button {
    position: relative;
    bottom: 7px;
    border: none;
    background-color: rgb(231, 228, 228)
}
#like-button {
    color: #3c5a99;
    margin-left: 15px;
    padding: 0px;
}
#comment {
    color: #3c5a99;
    margin: 0px;
    padding: 0px;
}
#share {
    color: #3c5a99;
    margin: 0px;
    padding: 0px;
}
#post-actions {
    position: relative;
    top: 30px;
    background-color: rgb(231, 228, 228);
    height: 40px;
    border-top: 1px solid rgb(204, 202, 202);
}
.icon {
    color: transparent;
    text-shadow: 0 0 purple;
}
